body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    color: #2E2F42;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
h3 {
    color: #2E2F42;
    text-transform: capitalize;
    /* font-weight: 500; */
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

a, button {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0  auto;
}
/* #region Navigation */



.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {

}

.container-nav {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    align-items: center;
    margin: 24px 0;
}

.container-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container-contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.main-logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {

}

.nav-list-item {

}

.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.nav-list-link:active {
    color: #404bbf;
}

.header-contact {
    font-style: normal;
}

.contact-list {

}

.contact-list-item {

}

.contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}
/* #endregion Navigation */

/* #region Main*/
.page-main {

}
 .section-hero {
  background-color: #2E2F42;
}

.hero-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.hero-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  width: 600px;
  margin-bottom: 48px; 
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
display: flex;
justify-content: space-between;
/* gap: 24px; */
}

.features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-list-item {
    width: calc((100% - 24px * 3) / 4);
}

.features-list-title {
    margin-bottom: 8px;
} 

.features-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-container {
}

.team {
    background: #f4f4fd;    
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);

}

.team-list-img {
    margin-bottom: 32px;
}

.team-list-title {
    margin-bottom: 8px;
}

.team-list-text {
    margin-bottom: 32px;
}
.section-list-img {

}

.hero-page {

}

.nav {

}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
}

.page-footer {
    background-color: #2E2F42;
}

.page-footer .main-logo-part  {
    color: #f4f4fd;
}
/* #endregion Main */